
<form [formGroup]="form" class="form-container" (ngSubmit)="submit()">
   <h2>Editar Estudiante: ID</h2>
    
   <mat-form-field appearance="fill" class="form-input">
       <mat-label>Nombre</mat-label>
       <input type="text" matInput formControlName="nombre" placeholder="">
       <mat-error *ngIf="form.controls.nombre.invalid">
         Campo requerido
       </mat-error>
     </mat-form-field>
   <mat-form-field appearance="fill" class="form-input">
       <mat-label>DNI</mat-label>
       <input type="text" matInput formControlName="dni" placeholder="">
       <mat-error *ngIf="form.controls.dni.invalid">
         Campo requerido
       </mat-error>
     </mat-form-field>
   <mat-form-field appearance="fill" class="form-input">
       <mat-label>Correo</mat-label>
       <input type="text" matInput formControlName="correo" placeholder="">
       <mat-error *ngIf="form.controls.correo.invalid">
         Campo requerido
       </mat-error>
     </mat-form-field>
   <mat-form-field appearance="fill" class="form-input">
       <mat-label>Celular</mat-label>
       <input type="text" matInput formControlName="celular" placeholder="">
       <mat-error *ngIf="form.controls.celular.invalid">
         Campo requerido
       </mat-error>
     </mat-form-field>
     <button mat-raised-button color="primary">Actualizar</button>

 </form>