<mat-toolbar color='primary'> 
  <span>Colegio</span>
</mat-toolbar>
<mat-drawer-container class="coderhouse-container">
  <mat-drawer mode="side" opened class='sidenav'>
      <mat-list class="lista-menu"> 
          <mat-list-item> 
              <a href="/estudiante/lista">
                  Alumnos 
              </a>
          </mat-list-item>
      </mat-list>
  </mat-drawer>
  <mat-drawer-content class='drawer-container'>
      
      <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>